<h2>Lista de Empleados</h2>

<table class="table table-striped">
    <thead class="table table-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let empleado of listaEmpleados">
            <td> {{ empleado.nombre }} </td>
            <td> {{ empleado.apellido }} </td>
            <td> {{ empleado.email }} </td>
            <td>
                <button (click)="actualizarDatos(empleado.id!)" class="btn btn-primary m-2">Actualizar</button>
                <button (click)="eliminarEmpleado(empleado.id!)" class="btn btn-danger">Eliminar</button>
                <button (click)="verDetalles(empleado.id!)" class="btn btn-secondary m-2">Detalles</button>
            </td>
        </tr>
    </tbody>
</table>